.carton__barajas {
    position: absolute;
    max-width: 300px;
    z-index: 1000;
    right: 0;
    top: 0;
}

.carton__loteria {
    display: inline-block;
    position: relative;
}

.carton__loteria img {
    width: 170px;
    height: 374px;
}

.carton__loteria>div {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: none;
}

#seccion_copyright {
    text-align: center;
}

body {
    background-image: url('carton-plain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
